@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {
  background-color: #bfbec0;
  scroll-behavior: smooth;
}

.promotion-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}

nav {
  position: sticky !important;
  top: 0;
}

.navbar {
  padding-bottom: 0;
  padding: 0;
  z-index: 8888;
}
@media (min-width: 768px) {
  .navbar {
    box-shadow: -4px 5px 10px #535e68;
  }
}

.container-fluid {
  margin: 1rem;
}

.navbar-toggler {
  background-color: #5c5c5c;
}

.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-brand:hover {
  color: #8c9fc4;
}

#navbarNavAltMarkup a {
  color: white;
}
#navbarNavAltMarkup a:hover {
  color: #8c9fc4;
}

.carousel .slide {
  height: 80vh;
}
.carousel .slide .carousel-inner {
  height: 80vh;
}

.name-page {
  color: white;
  margin-left: 2rem;
}
@media (min-width: 768px) {
  .name-page {
    margin-left: 10rem;
  }
}
.name-page h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 30px;
}
@media (min-width: 768px) {
  .name-page h1 {
    font-size: 10rem;
    line-height: 9rem;
  }
}
.name-page h2 {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .name-page h2 {
    font-size: 4rem;
    line-height: 2rem;
  }
}

.mainSection {
  padding: 2rem 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.mainSection h1 {
  text-transform: uppercase;
}

.carouselExampleIndicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.carousel-indicators button {
  display: none;
}

@media (min-width: 768px) {
  .mainSection {
    padding: 2rem 3rem;
  }
}
.btn-outline-light:hover {
  color: #3a3a3a;
  background-color: #8c9fc4;
}

.text-center .p-3 {
  padding: 2rem 0 !important;
}
.text-center .p-3 a {
  transition: 200ms;
  text-decoration: none;
  font-weight: 500;
}
.text-center .p-3 a:hover {
  color: #8c9fc4 !important;
  font-size: 1.1rem;
}

.cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: grey;
  padding: 0 10px 0 0px;
  width: 100%;
  margin: 0;
  box-shadow: -4px 5px 10px #535e68;
}
.cart button {
  transition: all 200ms ease;
}
.cart button:hover {
  background-color: #6e6e6e;
  color: white;
  border-color: #6e6e6e;
}
.cart p {
  margin: 0;
  margin-right: 1rem;
}
@media (min-width: 1000px) {
  .cart {
    width: auto;
    margin: 0 1rem;
    justify-content: center;
    border-radius: 5px;
  }
}
.cart .bi {
  margin-right: 1rem;
}
.cart .cart-detail {
  display: flex;
  align-items: center;
}
.cart .cart-detail:nth-last-child(1) {
  margin-left: 1rem;
}
.cart .cart-detail p {
  margin: 0;
  font-size: 0.8rem;
}
.cart .cart-detail .cart-category {
  font-style: italic;
  margin-right: 5px;
}
.cart .cart-detail .cart-value {
  font-weight: bold;
}

.cart-inner-pages {
  padding: 0 !important;
}
.cart-inner-pages a button {
  margin-right: 0 !important;
}

.main-content {
  margin: 2rem 0;
}
.main-content .welcome-message {
  text-align: center;
}
.main-content .welcome-message:nth-last-child(1) {
  font-style: italic;
  color: black;
  font-weight: bolder;
  background-color: grey;
  padding: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
}
.buttons-container .btn {
  width: 12rem;
  text-transform: uppercase;
}
.buttons-container .btn:nth-last-child(1) {
  margin-left: 1rem;
}

.modal-content {
  background-color: rgb(77, 77, 77);
  color: white;
}

.messages {
  padding: 2rem 0;
}
.messages p {
  margin: 0;
}
.messages p:nth-child(2) {
  font-weight: bold;
}

.container {
  margin: 2rem auto;
  padding: 2rem 0;
  border-bottom: 2px solid grey;
}

.footer-container {
  padding: 0 5rem;
}
.footer-container a {
  color: white;
}
.footer-container a:hover {
  color: #8c9fc4;
}
.footer-container .btn:hover {
  color: black;
}
.footer-container .footer-section {
  padding: 1rem 0;
  border-bottom: 1px solid white;
}

.container-compra-detail p {
  margin-left: 10px;
}
.container-compra-detail .detail:first-child p:nth-child(2):before {
  content: "$";
}
.container-compra-detail .detail {
  display: flex;
  justify-content: center;
}
.container-compra-detail .detail p:nth-last-child(1) {
  font-weight: bold;
}

.row {
  margin: 2rem 0;
}
.row .card {
  background-color: transparent;
  box-shadow: -4px 5px 10px #616161;
  height: 100%;
}
.row .card .card-text-title {
  font-weight: 600;
}
.row .card-text-stock-mising {
  color: rgb(218, 147, 147);
}
.row .card-body {
  background-color: #616161;
  color: white;
  display: flex;
  flex-direction: column;
  transition: 200ms;
  border-radius: 5px;
  border: none;
}
.row .card-body:hover {
  transform: scale(1.09);
  background-color: grey;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .row .card-body {
    display: flex;
    flex-direction: row;
  }
}
.row .card-body .product-image {
  width: 10rem;
  height: 10rem;
  border-radius: 5px;
}
.row .card-body .product-description {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .row .card-body .product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: initial;
    padding-left: 1rem;
    justify-content: space-around;
  }
}
.row .card-body .product-description p {
  margin: 0;
}
.row .card-body p:nth-child(2) b::before {
  content: "$";
}
.row .card-body p:last-child {
  color: rgb(230, 170, 170);
}

.button-to-clear {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-to-clear #btn-empty-car {
  display: none;
}

.modal {
  padding: 0;
  z-index: 99999;
}

.modal-dialog {
  display: flex;
  align-items: center;
  padding: 7rem 2rem;
  justify-content: center;
  z-index: 999999;
  overflow-y: initial !important;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  cursor: pointer;
}

.tentacles {
  width: 100%;
  margin-left: 0.5rem;
}
@media (min-width: 768px) {
  .tentacles {
    width: 50%;
  }
}

.product-description button {
  width: 100%;
}

.wrapper-cant {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

/* flipping class and key frames*/
.flipX {
  animation: 2s anim-flipX ease infinite;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 768px) {
  .flipX {
    font-size: 20px;
  }
}
.flipX span {
  text-decoration: underline;
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
.product-details {
  margin: 0 auto;
  padding: 0 !important;
}

.cart button {
  padding: 2px 5px;
  margin-right: 1rem;
  white-space: nowrap;
}

.current-carrito-title {
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .current-carrito-title {
    width: 60%;
  }
}

.current-carrito {
  margin: 1rem 0;
}

.modal-body {
  padding: 0 1rem;
  overflow-y: auto;
}

.modal-body-nostock {
  padding: 2rem 1rem;
  text-align: center;
  overflow-y: auto;
}

.modal-footer {
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  border: none;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .modal-footer {
    flex-direction: row;
  }
}
.modal-footer button {
  width: 100%;
}

.carritoProducts p {
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .carritoProducts p {
    text-align: start;
  }
}
.carritoProducts .cart-product-details-container {
  background-color: grey;
  border-radius: 4px;
  margin: 0.5rem 0;
}
.carritoProducts .cart-product-card {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-bottom: 1px solid white;
}
.carritoProducts .cart-product-card .button-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0.5rem;
  padding: 0.5rem 0.5rem;
}
.carritoProducts .cart-product-card .button-wrapper button {
  width: 100%;
}
.carritoProducts .cart-product-card .button-wrapper button:nth-child(2) {
  margin-top: 0.5rem;
}
.carritoProducts .cart-product-card .cart-product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
@media (min-width: 768px) {
  .carritoProducts .cart-product-card .cart-product-details {
    display: flex;
    flex-direction: row;
  }
}
.carritoProducts .cart-product-card .cart-product-details img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  box-shadow: -4px 5px 10px #363636;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .carritoProducts .cart-product-card .cart-product-details img {
    width: 30%;
  }
}
.carritoProducts .cart-product-card .cart-product-details .cart-product-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .carritoProducts .cart-product-card .cart-product-details .cart-product-text {
    flex-direction: row;
  }
}
.carritoProducts .cart-product-card .cart-product-details .cart-product-text .wrapper-cant {
  justify-content: center;
}
.carritoProducts .cart-product-card .cart-product-details .cart-product-text .wrapper-cant p {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .carritoProducts .cart-product-card .cart-product-details .cart-product-text .wrapper-cant {
    justify-content: flex-start;
  }
}
.carritoProducts .cart-product-card .cart-product-details .cart-product-text .wrapper-cant input {
  width: 35% !important;
}

.image-container img {
  border-radius: 8px;
  box-shadow: -4px 5px 10px #363636;
  margin-bottom: 10px;
}

.message-empty {
  margin: 2rem 0;
  text-align: center;
}

.subtotal {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.subtotal-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.padding-wrapper {
  padding-top: 1rem;
}

.cart-options-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}
.cart-options-wrapper button {
  width: 100%;
}
@media (min-width: 768px) {
  .cart-options-wrapper {
    flex-direction: row;
  }
}

.sub-total-final {
  border-bottom: 1px solid white;
  padding-bottom: 4rem;
}

.saludo-final {
  padding-top: 4rem;
}

.main-banner {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.main-banner h1 {
  font-size: 3rem;
  font-style: italic;
  margin: 0;
  line-height: 3rem;
}
.main-banner h2 {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
}
@media (min-width: 768px) {
  .main-banner {
    margin-left: 5rem;
  }
  .main-banner h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
  .main-banner h2 {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .main-banner {
    margin-left: 10rem;
  }
  .main-banner h1 {
    font-size: 10rem;
    line-height: 8rem;
  }
  .main-banner h2 {
    font-size: 5rem;
  }
}

.about {
  height: 70vh;
}
.about h2 {
  font-size: 3rem;
}
.about p {
  font-size: 2rem;
}
.about .sarasa {
  font-size: 1rem;
  padding: 0 5rem;
  text-align: justify;
}

.text-myaccount {
  margin: 0 auto;
  padding: 2rem;
}

.title-purchase {
  text-align: start;
  font-weight: bold;
  margin: 0;
}

.detail-historic-purchase {
  width: 70%;
  margin: 2rem auto;
}

.sub-detail {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.sub-detail p {
  margin: 0;
}
.sub-detail p:last-child {
  margin-left: 10px;
}
.sub-detail p:last-child::before {
  content: "(x";
}
.sub-detail p:last-child::after {
  content: ")";
}

.totalamount-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}
.totalamount-account p {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
