@import "./variables.scss";
@import "./fonts.scss";

body {
  background-color: $mainBackground;
  scroll-behavior: smooth;
}

.promotion-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}

nav {
  position: sticky !important;
  top: 0;
}

.navbar {
  padding-bottom: 0;
  padding: 0;
  z-index: 8888;
  @media (min-width: 768px) {
    box-shadow: -4px 5px 10px #535e68;
  }
}
.container-fluid {
  margin: 1rem;
}

.navbar-toggler {
  background-color: $navItems;
}

.navbar-light .navbar-brand {
  color: $linkColors;
  &:hover {
    color: $hoverLinks;
  }
}

#navbarNavAltMarkup {
  a {
    color: $linkColors;
    &:hover {
      color: $hoverLinks;
    }
  }
}

.carousel .slide {
  height: 80vh;
  .carousel-inner {
    height: 80vh;
    
  }
}

.name-page {
  color: white;
  margin-left: 2rem;
  @media (min-width: 768px) {
    margin-left: 10rem;
  }
  h1 {
    margin: 0;
    font-size: 2rem;
    line-height: 30px;
    @media (min-width: 768px) {
      font-size: 10rem;
      line-height: 9rem;
    }
  }
  h2 {
    font-size: 1rem;
    @media (min-width: 768px) {
      font-size: 4rem;
      line-height: 2rem;
    }
  }
}

.mainSection {
  padding: 2rem 0;
  text-align: center;
  font-family: $bodyFont;

  h1 {
    text-transform: uppercase;
  }
}

.carouselExampleIndicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  button {
    display: none;
  }
}

@media (min-width: 768px) {
  .mainSection {
    padding: 2rem 3rem;
  }
}

.btn-outline-light:hover {
  color: $navBackground;
  background-color: $hoverLinks;
}

.text-center .p-3 {
  padding: 2rem 0 !important;
  a {
    transition: $transition;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: $hoverLinks !important;
      font-size: 1.1rem;
    }
  }
}

.cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: grey;
  padding: 0 10px 0 0px;
  width: 100%;
  margin: 0;
  box-shadow: -4px 5px 10px #535e68;
  button {
    transition: all 200ms ease;
    &:hover {
      background-color: #6e6e6e;
      color: white;
      border-color: #6e6e6e;
    }
  }

  p {
    margin: 0;
    margin-right: 1rem;
  }
  @media (min-width: 1000px) {
    width: auto;
    margin: 0 1rem;
    justify-content: center;
    border-radius: 5px;
  }
  .bi {
    margin-right: 1rem;
  }

  .cart-detail {
    display: flex;
    align-items: center;

    &:nth-last-child(1) {
      margin-left: 1rem;
    }
    p {
      margin: 0;
      font-size: 0.8rem;
    }
    .cart-category {
      font-style: italic;
      margin-right: 5px;
    }
    .cart-value {
      font-weight: bold;
    }
  }
}

.main-content {
  margin: 2rem 0;

  .welcome-message {
    text-align: center;
    &:nth-last-child(1) {
      font-style: italic;
      color: black;
      font-weight: bolder;
      background-color: grey;
      padding: 1rem;
    }
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  .btn {
    width: 12rem;
    text-transform: uppercase;
    &:nth-last-child(1) {
      margin-left: 1rem;
    }
  }
}

.modal-content {
  background-color: rgb(77, 77, 77);
  color: white;
}

.messages {
  padding: 2rem 0;
  p {
    margin: 0;
    &:nth-child(2) {
      font-weight: bold;
    }
  }
}

.container {
  margin: 2rem auto;
  padding: 2rem 0;
  border-bottom: 2px solid grey;
}

.footer-container {
  padding: 0 5rem;
  a {
    color: white;
    &:hover {
      color: $hoverLinks;
    }
  }
  .btn {
    &:hover {
      color: black;
    }
  }
  .footer-section {
    padding: 1rem 0;
    border-bottom: 1px solid white;
  }
}

.container-compra-detail {
  p {
    margin-left: 10px;
  }
  .detail:first-child {
    p:nth-child(2) {
      &:before {
        content: "$";
      }
    }
  }
  .detail {
    display: flex;
    justify-content: center;

    p:nth-last-child(1) {
      font-weight: bold;
    }
  }
}

.row {
  .card {
    background-color: transparent;
    box-shadow: -4px 5px 10px #616161;
    .card-text-title {
      font-weight: 600;
    }
  }
  .card-text-stock-mising {
    color: rgb(218, 147, 147);
  }
  margin: 2rem 0;
  .card-body {
    background-color: #616161;
    color: white;
    display: flex;
    flex-direction: column;
    transition: $transition;
    border-radius: 5px;
    border: none;
    &:hover {
      transform: scale(1.09);
      background-color: grey;
      cursor: pointer;
    }
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
    }
    .product-image {
      width: 10rem;
      height: 10rem;
      border-radius: 5px;
    }
    .product-description {
      @media (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: initial;
        padding-left: 1rem;
        justify-content: space-around;
      }
      p {
        margin: 0;
      }
    }
    p:nth-child(2) {
      b {
        &::before {
          content: "$";
        }
      }
    }
    p:last-child {
      color: rgb(230, 170, 170);
    }
  }
}

.button-to-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  #btn-empty-car {
    display: none;
  }
}

.modal {
  padding: 0;
  z-index: 99999;
}

.modal-dialog {
  // margin: 10rem 1rem;
  display: flex;
  align-items: center;
  padding: 7rem 2rem;
  justify-content: center;
  z-index: 999999;
  overflow-y: initial !important;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  cursor: pointer;
}

.tentacles {
  width: 100%;
  margin-left: 0.5rem;
  @media (min-width: 768px) {
    width: 50%;
  }
}

.product-description {
  button {
    width: 100%;
  }
}

.wrapper-cant {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

/* flipping class and key frames*/
.flipX {
  animation: 2s anim-flipX ease infinite;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
  font-family: $bodyFont;
  font-weight: 600;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 20px;
  }
  span {
    text-decoration: underline;
  }
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}

.product-details {
  margin: 0 auto;
  padding: 0 !important;
}

.cart {
  button {
    padding: 2px 5px;
    margin-right: 1rem;
    white-space: nowrap;
  }
}

.current-carrito-title {
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    width: 60%;
  }
}

.current-carrito {
  margin: 1rem 0;
}

.modal-body {
  padding: 0 1rem;
  overflow-y: auto;
}
.modal-body-nostock {
  padding: 2rem 1rem;
  text-align: center;
  overflow-y: auto;
}

.modal-footer {
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  border: none;
  padding: 0 1rem 1rem 1rem;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  button {
    width: 100%;
  }
}

.carritoProducts {
  p {
    margin: 0;
    text-align: center;
    @media (min-width: 768px) {
      text-align: start;
    }
  }
  .cart-product-details-container {
    background-color: grey;
    border-radius: 4px;
    margin: 0.5rem 0;
  }
  .cart-product-card {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    border-bottom: 1px solid white;
    .button-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 0.5rem;
      padding: 0.5rem 0.5rem;
      button {
        width: 100%;
        &:nth-child(2) {
          margin-top: 0.5rem;
        }
      }
    }
    .cart-product-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
      padding: 0.5rem 0.5rem 0 0.5rem;
      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
      }
      img {
        width: 50%;
        height: auto;
        border-radius: 5px;
        border: 2px solid rgb(75, 74, 74);
        box-shadow: -4px 5px 10px #535e68;
        @media (min-width: 768px) {
          width: 30%;
        }
      }
      .cart-product-text {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        .wrapper-cant {
          justify-content: center;
          p {
            margin-right: 10px;
          }

          @media (min-width: 768px) {
            justify-content: flex-start;
          }
          input {
            width: 35% !important;
          }
        }
      }
    }
  }
}
.image-container {
  border-radius: 8px;
  border: 3px solid rgb(75, 74, 74);
  box-shadow: -4px 5px 10px #363636;
}

.message-empty {
  margin: 2rem 0;
  text-align: center;
}

.subtotal {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.subtotal-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.padding-wrapper {
  padding-top: 1rem;
}

.cart-options-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  button {
    width: 100%;
  }
  @media (min-width: 768px) {
    & {
      flex-direction: row;
    }
  }
}

.sub-total-final {
  border-bottom: 1px solid white;
  padding-bottom: 4rem;
}

.saludo-final {
  padding-top: 4rem;
}

.main-banner {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  h1 {
    font-size: 3rem;
    font-style: italic;
    margin: 0;
    line-height: 3rem;
  }
  h2 {
    font-size: 2rem;
    font-style: italic;
    margin: 0;
  }
  @media (min-width: 768px) {
    & {
      margin-left: 5rem;
    }
    h1 {
      font-size: 5rem;
      line-height: 4rem;
    }
    h2 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1024px) {
    & {
      margin-left: 10rem;
    }
    h1 {
      font-size: 10rem;
      line-height: 8rem;
    }
    h2 {
      font-size: 5rem;
    }
  }
}
